// 主题色
$--app-primary-color: #027AFF;
$--app-sky-color: #1296db;
$--app-danger-color: #F56C6C;
$--app-info-color: #F5F7FA;
$--app-notice-color: #B2B2B2;
$--app-selected-color: #E6F2FF;
$--app-active-color: #7ED321;
$--app-success-color: #5ebf70;
$--app-fail-color: #de715b;
$--app-light-color: #ffffff;
$--app-opacity-color: #eeeeee;
$--app-warning-color: #F5A623;
$--app-description-color: #929292;
// 标准盒子边框色
$--app-border-color: #DCDFE6;
// 分割线颜色
$--app-split-color: #EBEEF5;
// 标准字体颜色
$--app-font-color: #303133;
// 标准背景色
$--app-bg-Color: #F7F7F7;
// 标准盒子阴影
$--app-box-shadow: 0 0 8px 0 $--app-split-color;
// 标准圆角
$--app-border-radius: 2px;
// 标准加粗字体
$--app-font-weight: bold;
// 标准字体大小
$--app-font-size: 12px;
// 标题字体大小
$--app-title-fontSize: 14px;
